
server:
  port: 8083

spring:
  application:
    name: user
  datasource:
    url: jdbc:mysql://localhost:3306/user_db?serverTimezone=UTC
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  # --- Configuración del Consumidor de Kafka ---

kafka:
  consumer:
    bootstrap-servers: localhost:9092
    group-id: ${spring.application.name}
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "com.bjpractice.events"
      #1. Le decimos que NO espere cabeceras de tipo
      spring.json.use.type.headers: false
      # 2. Le decimos qué clase usar por defecto para los mensajes de este consumidor
      spring.json.value.default.type: com.bjpractice.events.BetSettledEvent

# --- Placeholder para Service Discovery (futura integracion con ApiSix/Gateway) ---
# eureka:
#   client:
#     serviceUrl:
#       defaultZone: http://localhost:8761/eureka/
#   instance:
#     prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "health"

app:
  kafka:
    topics:
      bet-settled: "bets.bet-settled"
